network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - {{ static_ip }}/24
      routes:
        - to: default
          via: 192.168.10.1
      nameservers:
        addresses: [192.168.2.246, 8.8.8.8, 8.8.4.4]