network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - {{ static_ip }}/24
      routes:
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses: {{ nameservers }}